<section class="text-bg-secondary text-center p-4">

    <form   class="w-50 p-3 mx-auto mt-5">
        
        
        
        <label _ngcontent-rij-c16="" for="userName" class="position-relative top-0">userName : </label>
        
        <input id="userName" type="text" placeholder="userName" name="userName" class="form-control border-0 border-bottom py-3 position-relative">
        
        
        <label for="userAge" class="position-relative top-0">userAge : </label>
        
        
        <input  id="userAge" type="text" placeholder="userAge" name="userName" class="form-control border-0 border-bottom py-3 position-relative">
        
        
        <label  for="userEmail" class="position-relative top-0">userEmail : </label>


        <input _ngcontent-rij-c16="" id="userEmail" type="text" placeholder="userEmail" name="userName" class="form-control border-0 border-bottom py-3 position-relative">
        
        
        
        <label _ngcontent-rij-c16="" for="userPassword" class="position-relative top-0 __top">userPassword : </label>


        <input id="userPassword" type="text" placeholder="userPassword" name="userName" class="form-control border-0 border-bottom py-3 position-relative">
        <button  class="btn mt-4 text-white" style="background-color: #1abc9c;"> send Message </button>
    </form>
    
    </section>