<section class=" text-center p-4">
<h3>PORTFOLIO COMPONENT</h3>
    <div class="d-flex align-items-center justify-content-center mb-3">
        <div class="line me-3 text-white fw-bolder"></div>

        <i class="  fa-solid fa-star"></i>
        <div class="line"></div>


    </div>
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-4">
                <img src="../../assets/portfolio/poert1.png" class="w-100" alt="">
            </div>
            <div class="col-lg-4">
                <img src="../../assets/portfolio/port2.png"  class="w-100" alt="">
            </div>
            <div class="col-lg-4">
                <img src="../../assets/portfolio/port3.png"  class="w-100" alt="">
            </div>
            <div class="col-lg-4">
                <img src="../../assets/portfolio/poert1.png"  class="w-100" alt="">
            </div>
            <div class="col-lg-4">
                <img src="../../assets/portfolio/port2.png"  class="w-100" alt="">
            </div>
            <div class="col-lg-4">
                <img src="../../assets/portfolio/port3.png"  class="w-100" alt="">
            </div>
        </div>
    </div>


</section>