<section class=" text-center p-4 vh-100 d-flex justify-content-center align-items-center">

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <img src="../../assets/portfolio/Screenshot (14).png" alt="">
                <h2 class="text-white fw-bolder">START FRAMEWORK</h2>
                <div class="d-flex align-items-center justify-content-center mb-3">
                    <div class="line me-3 text-white fw-bolder"></div>

                    <i class="text-white  fa-solid fa-star"></i>
                    <div class="line"></div>


                </div>
                <p class="text-white">Graphic Artist - Web Designer - Illustrator</p>
            </div>
        </div>
    </div>
</section>
